<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CommitAnalysis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CommitAnalysis.Properties.Settings>
            <setting name="RepositoryPath" serializeAs="String">
                <value />
            </setting>
            <setting name="JIRABaseAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="GitHubBaseAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="JIRATicketRegex" serializeAs="String">
                <value>[A-Z]+-\d+</value>
            </setting>
            <setting name="PRRegex" serializeAs="String">
                <value>#\d+</value>
            </setting>
            <setting name="JIRALink" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GitHubLink" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowBranchLines" serializeAs="String">
                <value>False</value>
            </setting>
        </CommitAnalysis.Properties.Settings>
    </userSettings>
</configuration>